<%- include("../partials/header") -%>
<div class="container text-center">
  <div class="container text-center">
    <div class="row text-center mb-5">
      <div class="col-md-4 text-center">
        <h2 class="text-center"><%= hike.name %></h2>
      </div>
      <div class="col-md-8">
        <p><%= hike.description %></p>
      </div>
    </div>
  </div>
  <div class="row text-center mb-5">
    <div class="col-md-6 mb-5">
      <img
        class="photo"
        style="width: 400px"
        heigclass="text-center"
        src="<%= hike.image[0] %>"
      />
    </div>
    <div class="col-md-6 mb-5">
      <img
        class="photo"
        style="width: 400px"
        heigclass="text-center"
        src="<%= hike.image[1] %>"
      />
    </div>
    <div class="col-md-6 mb-5">
      <img
        class="photo"
        style="width: 400px"
        heigclass="text-center"
        src="<%= hike.image[2] %>"
      />
    </div>
    <div class="col-md-6 mb-5">
      <img
        class="photo"
        style="width: 400px"
        class="text-center"
        src="<%= hike.image[3] %>"
      />
    </div>
  </div>
  <p>
    <a class="btn btn-success" href="/hikes/<%= hike._id %>/comments/new"
      >Add Comment</a
    >
  </p>
  <div class="well">
    <% for (let comment of hike.comments) { %>
    <p>
      <strong><%= comment.author.username %></strong> - <%= comment.text %>
      <span class="float-right">10 days ago</span>
    </p>
    <% } %>
  </div>
</div>

<%- include("../partials/footer") -%>
