<%- include("../partials/header") -%>
<div class="container text-center">
  <div class="container text-center">
    <div class="row text-center mb-5">
      <div class="col-md-4 text-center">
        <h2 class="text-center"><%= hike.name %></h2>
      </div>
      <div class="col-md-8">
        <p><%= hike.description %></p>
      </div>
    </div>
  </div>
  <div class="row text-center mb-5" id="show">
    <div class="col-md-6 mb-5">
      <img
        class="photo"
        heigclass="text-center"
        src="<%= hike.image[0] %>"
      />
    </div>
    <div class="col-md-6 mb-5">
      <img
        class="photo"
        heigclass="text-center"
        src="<%= hike.image[1] %>"
      />
    </div>
    <div class="col-md-6 mb-5">
      <img
        class="photo"
        heigclass="text-center"
        src="<%= hike.image[2] %>"
      />
    </div>
    <div class="col-md-6 mb-5">
      <img
        class="photo"
        class="text-center"
        src="<%= hike.image[3] %>"
      />
    </div>
    <% if(currentUser && currentUser.isAdmin) { %>
    <div class="col-md-12">
      <a href="/hikes/<%= hike.id %>/edit" class="btn btn-sm btn-warning">Edit</a>
      <form action="/hikes/<%= hike.id %>?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>
    </div>
    <% } %>
  </div>
  <p>
    <a class="btn btn-success" href="/hikes/<%= hike._id %>/comments/new"
      >Add Comment</a
    >
    
    <form action="/hikes/<%= hike._id %>?_method=DELETE" method="POST">
      
    </form>
  </p>
  <div class="well">
    <% for (let comment of hike.comments) { %>
    <p>
      <em><%= comment.author.username %></em> -- <%= comment.text %>
      <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
    </p>
    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
    <a class="btn btn-sm btn-warning" id="editComment"
    href="/hikes/<%= hike._id %>/comments/<%= comment._id %>/edit">
    Edit Comment</a>
    <form class="delete" action="/hikes/<%= hike._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
    <input class="btn btn-sm btn-danger float-  right" value="Delete" type="submit">
    </form>
    <% } %>
    <hr>
    <% } %>
  </div>
</div>

<%- include("../partials/footer") -%>
