<%- include("partials/header") -%>
<div class="container">
<div class="row">
<% for (let bird of birds) { %> 
 
    <div class="col-md-3 mr-4 ml-4">
  <h4 class="text-center"><%= bird.name %></h4>
  <img style="width: 300px; height: 200px;" src="<%= bird.image %>">
  <p class="text-center"><%= bird.description %></p>
  <a href="/birds/<%= bird._id %>" class="btn btn-primary mt-0">Read More</a>
  </div>
  
<% } %>
</div>
</div>

<%- include("partials/footer") -%>